[user]
	name = Ryan Tomayko
	email = r@tomayko.com


[alias]
	# common
	a            = add
	b            = branch
	c            = checkout
	d            = diff
	f            = fetch --prune
	k            = cherry-pick
	l            = log --pretty=oneline --abbrev-commit
	n            = commit --verbose --amend
	r            = remote
	t            = diff --cached

	# git add and the staging area
	a            = add
	aa           = add --update            # mnemonic: "add all"
	stage        = add
	ap           = add --patch
	p            = diff --cached           # mnemonic: "patch"
	unstage      = reset HEAD

	# commits and history
	ci           = commit --verbose
	ca           = commit --verbose --all
	amend        = commit --verbose --amend
	n            = commit --verbose --amend
	k            = cherry-pick
	re           = rebase --interactive
	pop          = reset --soft HEAD^
	peek         = log -p --max-count=1

	# git fetch
	f            = fetch
	pm           = pull                    # mnemonic: pull merge
	pr           = pull --rebase           # mnemonic: pull rebase

	# git diff
	d            = diff
	ds           = diff --stat             # mnemonic: "diff stat"

	# git reset
	hard         = reset --hard
	soft         = reset --soft
	scrap        = checkout HEAD

	# rtomayko
	cb           = !git-cut-branch
	sh           = !git-sh
	grab         = !git-grab
	thanks       = !git-thanks
	track        = !git-track
	ll           = log --pretty=oneline --abbrev-commit --max-count=15
	wip          = !git add -u && git commit -m ...
	wipc         = !date >> WIP && git add WIP && git commit -m ...
	fp           = format-patch --stdout
	ci           = commit
	x            = checkout HEAD
	bv           = !git branch --color -v | cut -c1-100
	incoming     = !git-incoming
	in           = !git-incoming
	outgoing     = !git-outgoing
	out          = !git-outgoing
	s            = status -sb -uno --ignore-submodules=untracked
	sa           = status -sb --ignore-submodules=untracked

[core]
	filemode = true
	logallrefupdates = true
	whitespace = space-before-tab, trailing-space

[help]
	browser = gitscm

[branch]
	autosetupmerge = true

[diff]
	renames = copies
	mnemonicprefix = true

[push]
	default = current

[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = rtomayko@gmail.com

[color]
	ui = auto

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "branch"]
	current = yellow reverse
	local = yellow bold
	remote = green bold
	plain = red bold

[color "status"]
	added = yellow
	changed = green bold
	untracked = blue bold

[browser "gitscm"]
	cmd = /bin/sh -c 'open http://git-scm.com/docs/$(basename $1 .html)' --
	protocol = https

# vim: noexpandtab ts=4 sw=4 sts=0
